{% extends "base.html" %}

{% block title %}Latest entries - {{ block.super }}{% endblock  %}

{% block headline %}Latest entries{% endblock %}

{% block content %}
  {% for entry in entry_list %}
    {% include "diario/full_entry.html" %}
  {% empty %}
    <p>Write your first entry at <a href="/admin/">/admin/</a>.</p>
  {% endfor %}
{% endblock %}
